<div class="container">
  <h2>Actualizar Categoria</h2>

  <!-- Buscar Categoria -->
  <input type="number" [(ngModel)]="idCategoria" class="form-control mb-2" placeholder="Ingrese ID de la Categoria">
  <button class="btn btn-primary" (click)="buscarCategoria()">Buscar Categoria</button>

  <!-- Formulario de actualización -->
  <div *ngIf="encontrado" class="mt-3">
    <input type="text" [(ngModel)]="categoria.nombreCategoria" class="form-control mb-2" placeholder="Nombre de la Categoria">
    <button class="btn btn-success" (click)="actualizarCategoria()">Actualizar Categoria</button>
  </div>
</div>
