<div class="container">
  <h2>Actualizar Proveedor</h2>

  <!-- Buscar Cliente -->
  <input type="number" [(ngModel)]="idProveedor" class="form-control mb-2" placeholder="Ingrese ID del Proveedor">
  <button class="btn btn-primary" (click)="buscarProveedor()">Buscar Proveedor</button>

  <!-- Formulario de actualización -->
  <div *ngIf="encontrado" class="mt-3">
    <input type="text" [(ngModel)]="proveedor.nombre" class="form-control mb-2" placeholder="Nombre">
    <input type="text" [(ngModel)]="proveedor.direccion" class="form-control mb-2" placeholder="Dirección">
    <input type="text" [(ngModel)]="proveedor.telefono" class="form-control mb-2" placeholder="Teléfono">
    <input type="email" [(ngModel)]="proveedor.email" class="form-control mb-2" placeholder="Email">
    <button class="btn btn-success" (click)="actualizarProveedor()">Actualizar Proveedor</button>
  </div>
</div>
