<div class="container mt-4">
  <h2>Lista de Proveedores</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let proveedor of proveedores">
      <td>{{ proveedor.idProveedor }}</td>
      <td>{{ proveedor.nombre }}</td>
      <td>{{ proveedor.direccion }}</td>
      <td>{{ proveedor.telefono }}</td>
      <td>{{ proveedor.email }}</td>
    </tr>
    </tbody>
  </table>
</div>
